extends layout

block content
  p Welcome to the members area
  .row
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.jpg', alt='...')
          |             
          .caption
            h3 Thumbnail label
            |                 
            p.description
              | Aashirvaad aata
            |                 
            .clearfix
              .price.pull-left $12
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Button