extends layout

block content
  p Welcome to the members area
  .row
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/aata.png', alt='...')
          |             
          .caption
            h3 Aashirvaad aata
            |                 
            p.description
              | (2 kg)
            |                 
            .clearfix
              .price.pull-left Rs. 100
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/maida.png', alt='...')
          |             
          .caption
            h3 Maida
            |                 
            p.description
              | (2 kg)
            |                 
            .clearfix
              .price.pull-left Rs. 80
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/sugar.png', alt='...')
          |             
          .caption
            h3 Sugar
            |                 
            p.description
              | (5 kg)
            |                 
            .clearfix
              .price.pull-left Rs. 212
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/soyabeenoil.png', alt='...')
          |             
          .caption
            h3 Soyabean oil
            |                 
            p.description
              | (1 L)
            |                 
            .clearfix
              .price.pull-left Rs.100
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/mustardoil.png', alt='...')
          |             
          .caption
            h3 Mustard oil
            |                 
            p.description
              | (1 L)
            |                 
            .clearfix
              .price.pull-left Rs. 115
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add
    .col-sm-6.col-md-4
        .thumbnail
          img.img-responsive(src='/images/colgate.png', alt='...')
          |             
          .caption
            h3 Colgate Strong Teeth Toothpaste
            |                 
            p.description
              | (200 g)
            |                 
            .clearfix
              .price.pull-left Rs. 92
              |                     
              a.btn.btn-success.pull-right(href='#', role='button') Add